<!DOCTYPE html>
<meta charset="utf-8">
<html>
<div id="chartContainer">
  {scriptDependencies}
  <script type="text/javascript">
    var svg = dimple.newSvg("#chartContainer", 590, 400);

    d3.tsv("/data/example_data.tsv", function (data) {
        d3.json("chartconfig/advanced_trellis_bar.json", function(chartConfig) {

          // Get a unique list of dates
          var months = dimple.getUniqueValues(data, "Date");

          // Set the bounds for the charts
          var row = 0,
              col = 0,
              top = 25,
              left = 60,
              inMarg = 15,
              width = 115,
              height = 90,
              totalWidth = parseFloat(svg.attr("width"));

          // Pick the latest 12 dates
          months = months.slice(months.length - 12);

          // Draw a chart for each of the 12 dates
          months.forEach(function (month) {

              // Wrap to the row above
              if (left + ((col + 1) * (width + inMarg)) > totalWidth) {
                row += 1;
                col = 0;
              }

              // Filter for the month in the iteration
              var chartData = dimple.filterData(data, "Date", month);

              // Use d3 to draw a text label for the month
              svg
                .append("text")
                    .attr("x", left + (col * (width + inMarg)) + (width / 2))
                    .attr("y", top + (row * (height + inMarg)) + (height / 2) + 12)
                    .style("font-family", "sans-serif")
                    .style("text-anchor", "middle")
                    .style("font-size", "28px")
                    .style("opacity", 0.2)
                    .text(chartData[0].Month.substring(0, 3));

              // Create a chart at the correct point in the trellis
              chartConfig.bounds = {
                x: left + (col * (width + inMarg)),
                y: top + (row * (height + inMarg)),
                width: width,
                height: height
              };
              
              var myChart = new simpledimple.chart(svg, chartConfig, chartData);
              myChart.userData.col = col;
              myChart.userData.row = row;
              // Draw the chart
              myChart.draw();

              // Move to the next column
              col += 1;

          }, this);
        });
    });
  </script>
</div>
</html>
