<!DOCTYPE html>
<meta charset="utf-8">
<html>
<div id="chartContainer">
  {scriptDependencies}
  <script type="text/javascript">
  d3.tsv("/data/example_data.tsv", function (data) {
      // Filter for a single SKU and Channel
      data = dimple.filterData(data, "SKU", "Theta 18 Pack Standard");
      data = dimple.filterData(data, "Channel", "Hypermarkets");

      d3.json("chartconfig/advanced_dynamic_line_color.json", function(chartConfig) {
          var myChart = new simpledimple.chart("#chartContainer", chartConfig, data);
          myChart.draw();
      });
  });
  </script>
</div>
</html>
