<!DOCTYPE html>
<meta charset="utf-8">
<html>
<div id="chartContainer">
  {scriptDependencies}
  <script type="text/javascript">
    var chartConfig = {
        width: 590, height: 400,
        bounds: {60, 30, 305, 305},
        axis: [
            {position: x, categoryFields: "Month", orderRules:[{ordering: "Date"}]},
            {position: y, measure: "Unit Sales"}],
        series [{plot: "area", interpolation: "step", lineWeight: 1}]
    };
    d3.tsv("/data/example_data.tsv", function (data) {
        data = dimple.filterData(data, "Owner", ["Aperture", "Black Mesa"])
      var myChart = new simpledimple.chart(chartConfig, data);
      myChart.draw();
    });
  </script>
</div>
</html>
