<!DOCTYPE html>
<meta charset="utf-8">
<html>
<div id="chartContainer">
  {scriptDependencies}
  <script type="text/javascript">
    d3.tsv("/data/example_data.tsv", function (data) {
        data = dimple.filterData(data, "Owner", ["Aperture", "Black Mesa"])
        d3.json("chartconfig/steps_vertical_stacked.json", function(chartConfig) {
            var myChart = new simpledimple.chart("#chartContainer", chartConfig, data);
            myChart.draw();
        });
    });
  </script>
</div>
</html>
